<h2>This system is to list students' information.</h2>
<div>
  <img src="https://www.scu.edu/media/offices/vice-provost-for-student-life/images/parting-shot_2-610x371.jpg"
       height="370" width="610"
       alt="Students">
</div>