<h2>Welcome to this website to manage your students</h2>
<img
  src="https://www.cappex.com/assets/c-122931/logos/santa-clara-university_2015-09-14_15-44-43.969.jpg"
  height="370" width="610"
  alt="Students">