<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SCU Student Management</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/styles.scss"/>
  </head>

  <body>
    <header>
      <h1>SCU Student Management</h1>
    </header>
    <%= erb :nav%>
    <section>
      <%= yield %>
    </section>
  </body>
  </html>