<form action="/login" method="POST" id="form1">
  <br>
  <label for="username">Username:</label>
  <input id="username" style="width: 200px; height: 20px;" type="text" name="login[username]"/>
  <br><br>
  <label for="password">Password:</label>
  <input id='password' style="width: 200px; height: 20px;" type="password" name="login[password]"/>
</form>
<br>
<button class="myButton" type="submit" form="form1">Login</button>
