<form action="/login" method="POST" id="form1">
  <label for="username">Username:</label>
  <input id="username" type="text" name="login[username]"/>

  <label for="password">Password:</label>
  <input id='password' type="password" name="login[password]"/>
</form>
<br>
<button class="myButton" type="submit" form="form1">Login</button>
