<nav>
  <ul>
    <li> <a href="/" title="Home">Home</a></li>
    <li> <a href="/about" title="About">About</a></li>
    <li> <a href="/contact" title="Contact">Contact</a></li>
    <li> <a href="/students" title="Students">Students</a></li>
    <li> <a href="/comment" title="Comment">Comment</a></li>
    <li> <a href="/video" title="Video">Video</a></li>
    <li class="nav_right"> <a href="/logout" title="Logout">Logout</a></li>
    <li class="nav_right"> <a  href="/login" title="Login">Login</a></li>

  </ul>  
</nav>