<% if @students %>
<label for="name"> Name:</label>
<input id="name" type="text" name="students[name]" value= "<%= @students.name%>" />

<label for="released_on"> Birthday(mm/dd/yyyy): </label>
<input id="released_on" type="text" name="students[birthday]" value="<%= @students.birthday.strftime('%m/%d/%Y') if @students.birthday%>"/>

<label for="studentID"> Student ID:</label>
<input id='studentID' type="text" name="students[studentID]" value="<%= @students.studentID%>"/>

<label for="phoneNumber"> Phone Number: </label>
<input id ="phoneNumber" name="students[phoneNumber]" value="<%= @students.phoneNumber %>"/>
<br>
<br>
<input class="myButton" type="submit" value="Save Student"/>
<% else %>
<p>This student does not exist!</p>
<% end %>