  <h1>Wonderful SCU Life</h1>
  <video width="600" controls="controls" autoplay="autoplay">
    <source src='/public/scu.mp4' type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/9YmoZD2iR-0" frameborder="0" allowfullscreen></iframe>-->